.customPadding {
    padding: 45px 75px 60px 50px !important;
    height: 350px;
    box-sizing: border-box;
}

.border1px {
    /* border: 1px solid white; */
    border-radius: 10px;
}

.bgtrans {
    background: transparent;
}

.det > ul > li > h4 {
    color: white;
}
