.video-sidebar li {
    transition: all 200ms ease-in-out;
    text-align: center;
    cursor: pointer;
}

.video-sidebar li:hover {
    transform: scaleY(1.1);
    box-shadow: 1px 3px 16px 6px rgba(0, 0, 0, 0.03);
    cursor: pointer;
}

.custom-button-control-dark {
    position: relative;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background: grey;
    border-radius: 20px;
    margin: 6px;
    box-shadow: inset 0px 0px 0px rgba(226, 228, 233, 0.15),
        inset 0px 0px 0px rgba(204, 206, 211, 0.15),
        5px 5px 0px rgba(139, 141, 145, 0.25),
        -1px -1px 5px rgba(185, 188, 196, 0.15);
    transition: box-shadow 80ms ease-in-out;
}
.custom-button-control-sun {
    position: relative;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background: white;
    border-radius: 20px;
    margin: 6px;
    box-shadow: inset 0px 0px 0px rgba(18, 26, 49, 0.15),
        inset 0px 0px 0px rgba(18, 26, 49, 0.15),
        5px 5px 0px rgba(55, 84, 170, 0.25),
        -1px -1px 5px rgba(55, 84, 170, 0.15);
    transition: box-shadow 80ms ease-in-out;
}

.custom-iframe-width {
    max-width: 100% !important;
}

.height-100 {
    min-height: 50vh;
    align-items: center;
}

.btn-width {
    font-size: 1.2rem;
    width: 100%;
}

.flex-basis-50 {
    flex-basis: 50%;
}

.headerBg {
    background: #606470;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: grey;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(11px);
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

.learningside {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    height: 85vh;
    position: fixed;
    /* top: 100px; */
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.learningside2 {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    height: 85vh;
    position: absolute;
    /* top: 100px; */
    left: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.glossary__definition {
    position: absolute;
    top: 85vh;
    padding: 40px 0px 20px 10px;
}

.learningside > a > button {
    cursor: pointer;
    position: absolute;
    text-align: center;
    left: -20px;
    transition: 0.3s;
    padding: 10px;
    width: 185px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
    background: #606470;
    outline: none;
    border: none;
}

.learningside2 > a > button {
    cursor: pointer;
    position: absolute;
    text-align: center;
    left: -20px;
    transition: 0.3s;
    padding: 10px;
    width: 185px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
    background: #606470;
    outline: none;
    border: none;
}

/* .learningside > div {
    padding: 0px;
    margin-bottom: 20px;
    width: 185px;
    left: -20px;
} */

.learningside > button {
    margin-left: 5px;
}

.learningside > a > button:hover {
    left: 0px;
}

.learningside2 > button {
    margin-left: 5px;
}

.learningside2 > a > button:hover {
    left: 0px;
}

.learningside__active {
    left: 0px !important;
    border-radius: 0 !important;
}

.learningside__active:after,
.learningside__active:before {
    content: "";
    position: absolute;
    width: 25px;
    height: 50%;
    left: 100%;
}
.learningside__active:after {
    bottom: 0;
    background: linear-gradient(to right bottom, #606470 50%, transparent 50%);
}
.learningside__active:before {
    top: 0;
    background: linear-gradient(to right top, #606470 50%, transparent 50%);
}

.custom-switch .custom-control-label::before {
    height: 23px;
    border: 1px solid #dddddd;
    width: 3.15rem;
    cursor: pointer;
    /* border: ; */
    box-shadow: none !important;
}

.custom-switch .custom-control-label::before {
    border-radius: 30px;
}

.custom-switch .custom-control-label::after {
    height: 18px;
    top: 11px;
    width: 18px;
}

.custom-control-label::before {
    background-color: #ffffff;
    /* border: 1px solid #dddddd; */
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
    top: 0.5rem;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
    background-color: #fff;
    -webkit-transform: translateX(2rem);
    transform: translateX(2rem);
}

.custom-control-label {
    line-height: 2;
    margin: 0 0 10px;
    outline: none;
    padding-left: 25px;
}

.custom-switch-learn {
    width: 100%;
    padding-left: 25px;
    margin-bottom: 20px;
}

.darkmode__span {
    position: relative;
    left: -40px;
    bottom: -6px;
    padding-left: 10px;
    padding-right: 10px;
}

.glossary__btn {
    width: 185px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.discussion__btn {
    border-radius: 5px;
    background-color: rgb(0 176 240) !important;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: "Open Sans";
    line-height: 1.2;
    height: 55px;
    padding: 0 40px;
    outline: none;
    border: none;
}

.glossary__input {
    width: 185px;
    left: 7px;
    position: absolute;
    bottom: 0px;
}

.glossary__search {
    /* padding: 0px 0px 0px 30px; */
}

.pdf__viewer {
    width: 85% !important;
    margin: auto !important;
    height: 70vh !important;
}

.main_blog_post_content {
    margin: 0 20px;
}

.bookmark__modal {
    position: absolute;
    outline: 0;
    width: 30%;
    /* height: 290px; */
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.bookmark__input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookmark__input > div {
    width: 100%;
    margin: 10px;
}

.bookmark__input > button {
    background: #3e82d1;
    padding: 10px 30px;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.bookmark__float {
    position: absolute;
    right: -2%;
    top: 30%;
    background: #606470;
    width: 65px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.bookmark__float:hover {
    right: 0%;
    padding: 10px;
}

.bookmark__float > svg {
    color: white;
}

.bookmark__view {
    /* display: flex; */
    width: 100%;
    /* justify-content: space-around; */
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.bookmark__data {
    /* display: flex; */
    /* justify-content: space-around; */
    font-size: 16px;
    /* border-bottom: 1px solid #60647080; */
    padding-top: 10px;
}

.bookmark__btn {
    background: #00b0f0;
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
}

.bookmark__single__item {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.bookmark__card {
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    padding: 10px 20px;
    cursor: pointer;
    height: 80px;
    font-weight: 500;
    font-size: 16px;
    /* overflow-y: scroll; */
    margin-bottom: 20px;
}

.course__disp {
    padding: 10px;
    border: 1px solid #ccc3c3;
    /* box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px inset, rgb(0 0 0 / 30%) 0px 18px 36px -18px inset; */
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
    margin-bottom: 10px;
    cursor: pointer;
}

.course__title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.lesson__title {
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.course__sidebar {
    padding: 20px;
    height: 85vh;
    overflow-y: scroll;
}

.sidemenu__fl {
    color: white;
    position: absolute;
    right: -20px;
    top: 30px;
    /* background: #606470; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    z-index: 100;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
}
